.contentContainer {
  box-shadow: 0 4px 8px black;
  padding: 20px;
  max-width: 1000px;
  border-radius: 10px;
  color: slategrey;
  background: #fff;
  margin: 40px auto;
}

h1 {
  text-align: center;
  color: #003580;
  margin-bottom: 20px;
  font-size: 40px;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer > h1 {
  margin: 3% auto;
}
.localStorageContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.localStorageContainer > button:nth-child(odd) {
  color: white;
  background-color: #41d33c;
  font-size: 14px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  align-self: center;
  font-weight: 700;
  cursor: pointer;
}

.localStorageContainer > button:nth-child(even) {
  color: white;
  background-color: #2f79c7;
  font-size: 14px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  align-self: center;
  font-weight: 700;
  cursor: pointer;
}
