.contentContainer {
  box-shadow: 0 4px 8px black;
  padding: 20px;
  max-width: 1000px;
  border-radius: 10px;
  color: slategrey;
  background: #fff;
  margin: 40px auto;
}

h1 {
  text-align: center;
  color: #003580;
  margin-bottom: 20px;
  font-size: 36px;
}

.formContent {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  margin-bottom: 20px;
  justify-content: space-between;
}

.inputField {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnContainer {
  display: flex;
  align-items: end;
  gap: 10px;
  align-items: end;
}

.btnContainer > button {
  border: transparent;
}

.medalList {
  width: 100%;
  height: 100%;
  background-color: green;
}

table {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}
