.contentContainer {
  box-shadow: 0 4px 8px black;
  padding: 20px;
  max-width: 1000px;
  border-radius: 10px;
  color: slategrey;
  background: #fff;
  margin: 40px auto;
}

h1 {
  text-align: center;
  color: #003580;
  margin-bottom: 20px;
  font-size: 40px;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer > h1 {
  margin: 3% auto;
}

.emptyMessage {
  text-align: center;
  opacity: 0.8;
  font-size: 20px;
}
